# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/

# Pytest / Allure
.pytest_cache/
allure-results/
.allure-report/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Env files
.env


